/* Light Mode */
.keyword {
    color: #8963c4; /* Purple */
}

.function {
    color: #008a0d; /* Green */
}

.punctuation {
    color: #282a36; /* Light Gray */
}

.comment {
    color: #8393c7; /* Bluish Gray */
}

.string,
.constant,
.annotation,
.boolean,
.number {
    color: #c74493; /* Pink */
}

.tag {
    color: #a56a20; /* Yellow */
}

.attr-name {
    color: #048395; /* Cyan */
}

.attr-value {
    color: #8963c4; /* Purple */
}


/* Dark Mode */
.dark .keyword {
    color: #ff79c6; /* Pink */
}

.dark .function {
    color: #50fa7b; /* Green */
}

.dark .string,
.dark .constant,
.dark .annotation,
.dark .boolean,
.dark .number {
    color: #f1fa8c; /* Light Yellow */
}

.dark .punctuation {
    color: #f8f8f2;
}

.dark .tag {
    color: #ffb86c; /* Yellow */
}

.dark .attr-name {
    color: #8be9fd; /* Cyan */
}

.dark .attr-value {
    color: #bd93f9; /* Purple */
}
